APScheduler==3.11.0
beautifulsoup4==4.13.3
bleach==4.1.0
boto3==1.35.68
botocore==1.35.68
crawl4ai==0.5.0.post4
cryptography==46.0.3
Flask==2.3.3
Flask_Cors==4.0.0
Flask_JWT_Extended==4.5.3
flask_sqlalchemy==3.1.1
langchain==0.3.22
langchain_community==0.3.20
langchain_huggingface==0.1.2
langchain_text_splitters==0.3.7
openai==1.72.0
psycopg2_binary==2.9.7
pydantic==2.11.9
python-dotenv==1.1.1
bcrypt==4.0.1
python_dateutil==2.8.2
PyYAML==6.0.2
rapidfuzz==3.9.7
reportlab==4.2.5
Requests==2.32.3
selenium==4.38.0
sentence_transformers==3.4.1
SQLAlchemy==2.0.40
transformers==4.46.3
webdriver_manager==4.0.2
Werkzeug==3.1.1